@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form_wrapper{
  padding: 0 15px;
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
}

body{
    font-family: 'Inter', sans-serif;
	font-size: 20px;
	padding: 80px 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
    background-color: #1ABC9C;
    
}